.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #282828;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.player__left {
  display: flex;
  align-items: center;
}

.player__album {
  height: 60px;
  width: 60px;
  margin-right: 15px;
}

.player__info {
  display: flex;
  flex-direction: column;
}

.player__title,
.player__artist {
  margin: 0;
}

.player__center {
  display: flex;
  align-items: center;
}

.player__button {
  margin: 0 5px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.player__button:hover {
  color: #1db954;
}

.player__right {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.player__volume {
  margin: 0;
}
